<!DOCTYPE html>
<html>
  <head>
    <title>Les fruits de saison</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Charmonman" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="icon" href="http://image.noelshack.com/fichiers/2018/46/2/1542135362-pomme.jpeg">
    <meta charset="UTF-8">
  </head>

  <body>
    <header>
      <%= render "layouts/header" %>
    </header>
  <main>
    <!-- <div class="">
      <%= render "layouts/tabs" %>
    </div> -->
      <%= render "layouts/main" %>
  </main>

  <footer>
      <%= render "layouts/footer" %>
  </footer>

  </body>
</html>
