<!DOCTYPE html>
<html>
  <head>
    <title>UiDesign</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="UTF-8">
  </head>

  <body>
    <header>
      <%= render "layouts/header" %>
    </header>
  <main>
      <%= render "layouts/main" %>
  </main>

  <footer>
      <%= render "layouts/footer" %>
  </footer>

  </body>
</html>
